body {
  padding: 0;
  margin: 0;
}

header {
  background: url("../assets/img/group.jpg");
  width: 100%;
  height: 57.467vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header #items1 {
  width: 7.3%;
  text-align: center;
  border-right: 1px solid white;
}

@media (max-width: 768px) {
  header #items1 {
    width: 15%;
  }
}

header #items1 img {
  padding-top: 25px;
}

header #items2 {
  width: 92.6%;
  padding: 3.2617% 7.191% 0 4.967%;
}

@media (max-width: 768px) {
  header #items2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header #items2 i {
  display: none;
}

@media (max-width: 768px) {
  header #items2 i {
    display: block;
    text-align: right;
    text-shadow: 2px 2px 2px #333;
  }
}

@media (max-width: 768px) {
  header #items2 nav#nav1 {
    display: none;
  }
}

header #items2 nav#nav1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 0 0;
}

header #items2 nav#nav1 ul li:not(:first-child) {
  padding: 0 2.802%;
}

header #items2 nav#nav1 ul li:nth-child(5) {
  margin-left: auto;
  padding: 0;
}

header #items2 nav#nav1 ul li:last-child {
  padding: 0 13.1px;
}

header #items2 nav#nav1 ul li a {
  color: white;
  text-decoration: none;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header #items2 div {
  padding-top: 10%;
}

header #items2 div p {
  font-size: calc(22px + (53 - 22) * ((100vw - 300px) / (1600 - 300)));
}

header #items2 div p span {
  font-weight: bold;
  color: #cbe346;
}

header #items2 div button {
  width: 269px;
  height: 53px;
  border: 1px solid white;
  border-radius: 26.5px;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.01px;
  font-size: 13px;
}

header #items2 div button:hover {
  background: #cbe346;
  color: black;
}

header #items2 div button:focus {
  outline: none;
}

section#seccion2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f3f4f8;
  padding: 72px 0 67px;
}

@media (max-width: 768px) {
  section#seccion2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
}

section#seccion2 #item1, section#seccion2 #item2, section#seccion2 #item3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section#seccion2 #item1 {
  text-align: right;
  color: #cbe346;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  padding: 32px 51px 0 0;
}

@media (max-width: 768px) {
  section#seccion2 #item1 {
    text-align: center;
    padding: 0;
  }
}

section#seccion2 #item2 b {
  font-size: calc(22px + (50 - 22) * ((100vw - 300px) / (1600 - 300)));
}

section#seccion2 #item2 span {
  color: #787878;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

@media (max-width: 768px) {
  section#seccion2 #item2 {
    text-align: center;
    padding: 20px 0;
  }
}

section#seccion2 #item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#seccion2 #item3 button {
  font-size: calc(13px + (13 - 13) * ((100vw - 300px) / (1600 - 300)));
  border: 1px solid black;
  border-radius: 26.5px;
  width: 21.523vw;
  height: 53px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  section#seccion2 #item3 button {
    width: 234px;
  }
}

section#seccion3 {
  width: 100%;
  height: calc(220px + (488 - 220) * ((100vw - 300px) / (1600 - 300)));
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  section#seccion3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

section#seccion3 #item1 {
  width: 37%;
  background: url("../assets/img/ball-color-court-1405355.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 38px 71px  0 14.1%;
}

@media (max-width: 768px) {
  section#seccion3 #item1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section#seccion3 #item1 .group-ovales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  section#seccion3 #item1 .group-ovales {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section#seccion3 #item1 .group-ovales .oval {
  -webkit-mask: url("../assets/svg/oval.svg");
          mask: url("../assets/svg/oval.svg");
  width: 8px;
  height: 7.8px;
  margin: 0 24px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #ebebeb;
}

section#seccion3 #item1 .group-ovales .activo {
  background-color: #cbe346;
}

@media (max-width: 992px) {
  section#seccion3 #item1 {
    padding: 38px 15px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  section#seccion3 #item1 {
    padding: 50px 15px;
  }
}

section#seccion3 #item1 p:first-child {
  font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
}

section#seccion3 #item1 p:first-child span {
  font-weight: 900;
}

section#seccion3 #item1 p:last-child {
  font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
}

@media (max-width: 768px) {
  section#seccion3 #item1 p {
    text-align: center;
  }
}

section#seccion3 #item1 #botones {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  section#seccion3 #item1 #botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  section#seccion3 #item1 {
    width: 100%;
    background-position: center center;
    height: 350px;
  }
}

section#seccion3 #item2 {
  width: 63%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  section#seccion3 #item2 {
    width: 100%;
  }
}

section#seccion3 #item2 #carrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

section#seccion3 #item2 #carrusel span {
  position: absolute;
  z-index: 1;
  width: 39px;
  height: 39px;
  background-color: #cbe346;
  border-radius: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 13px 0 0 17px;
}

section#seccion3 #item2 #carrusel img {
  max-width: 95.68%;
}

@media (max-width: 768px) {
  section#seccion3 #item2 #carrusel img {
    width: auto;
    padding: 15px;
  }
}

section#seccion4 {
  background: url("../assets/img/action-athlete-ball-342361.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 42vw;
}

footer {
  height: 203px;
  width: 100%;
  background: #cbe346;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
}

@media (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
    padding-top: 20px;
  }
}

footer #item1 {
  width: 37%;
  height: 100%;
}

@media (max-width: 768px) {
  footer #item1 {
    width: 100%;
  }
}

footer #item1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-left: 78px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  footer #item1 ul {
    padding: 15px;
  }
}

footer #item1 ul li {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

@media (max-width: 768px) {
  footer #item1 ul li {
    text-align: center;
  }
}

footer #item1 ul li a {
  text-decoration: none;
  color: white;
  font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1600 - 300)));
}

footer #item1 #logos {
  padding-left: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  footer #item1 #logos {
    padding: 0 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer #item1 #logos img:not(:first-child) {
  padding-left: 12px;
}

footer #item2 {
  width: 73%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 67px;
}

@media (max-width: 768px) {
  footer #item2 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

footer #item2 img {
  width: 55px;
  height: 55px;
}

/**/
div#nav2 {
  display: none;
}

@media (max-width: 768px) {
  div#nav2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #cbe346;
    top: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

div#nav2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

div#nav2 ul li {
  list-style: none;
  width: 100%;
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

div#nav2 ul li:first-child {
  text-align: right;
  padding-right: 20px;
  font-size: 25px;
}

div#nav2 ul li a {
  display: block;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
}

div#nav2 ul li a:hover {
  background: white;
  color: black;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
}

/**/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
/*# sourceMappingURL=style.css.map */