
body{
    padding: 0;
    margin: 0;
    
}
header{
    background: url("../assets/img/group.jpg");
    width: 100%;
    // height: 785px;
    height: 57.467vw;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    #items1{
        width: 7.3%;
        text-align: center;
        @media( max-width:  768px){
            width: 15%;
        }
        border-right: 1px solid white;
        img{
            padding-top: 25px;
            // padding: 33.83% 43.31% 0 48.72%;
        }
    }
    #items2{
        width: 92.6%;
        padding: 3.2617% 7.191% 0 4.967%;
        @media( max-width:  768px){
            display: flex;
            flex-direction: column;
        }
        i{
            display: none;
            @media( max-width:  768px){
                display: block;
                text-align: right;
                text-shadow: 2px 2px 2px #333;
            }
        }
        nav#nav1{
            @media( max-width:  768px){
                 display: none;
            }
            ul{
                @media( max-width:  768px){
                    
                }
                display: flex;
                list-style: none;
                padding: 0 0 0  ;
                li{
                    &:not(:first-child){
                        // padding: 0 37.8px ;
                        padding: 0 2.802%;
                    }
                    &:nth-child(5){
                        margin-left: auto;
                        padding: 0 ;
                    }
                    &:last-child{
                        padding: 0 13.1px ;
                    }
                    a{
                        color: white;
                        text-decoration: none;
                        font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));;
                    }
                }
                
            }
        }
        div{
            padding-top: 10%;
            p{
                font-size: calc(22px + (53 - 22) * ((100vw - 300px) / (1600 - 300)));
                span{
                    font-weight: bold;
                    color: #cbe346;
                }
                
            }
            button{
                width: 269px;
                height: 53px;
                border: 1px solid white;
                border-radius: 26.5px;
                background: transparent;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1.01px;
                font-size: 13px;
                &:hover{
                    background: #cbe346;
                    color: black;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
}
section#seccion2{
    width: 100%;
    display: flex;
    background: #f3f4f8;
    padding: 72px 0 67px;
    @media( max-width:  768px){
        flex-direction: column;
        padding: 15px ;
    }
    #item1,#item2,#item3{
        flex: 1;
    }
    #item1{
        text-align: right;
        color: #cbe346;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        padding: 32px 51px 0 0;
        @media( max-width:  768px){
            text-align: center;
            padding: 0;
        }   
        
    }
    #item2{
        b{
            // font-size: 50px;
            font-size: calc(22px + (50 - 22) * ((100vw - 300px) / (1600 - 300)));
        }
        span{
            color: #787878;
            // font-size: 18px;
            font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
        }
        @media( max-width:  768px){
            text-align: center;
            padding: 20px 0;
        }   
    }
    #item3{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        button{
            // font-size: 13px;
            font-size: calc(13px + (13 - 13) * ((100vw - 300px) / (1600 - 300)));
            border: 1px solid black;
            border-radius: 26.5px;
            // width: 234px;
            width: 21.523vw;
            @media( max-width:  768px){
                width: 234px;
            }   
            height: 53px;
            text-transform: uppercase;
        }
    }
}
section#seccion3{
    width: 100%;
    height: calc(220px + (488 - 220) * ((100vw - 300px) / (1600 - 300)));
    color: white;
    display: flex;
    @media( max-width:  768px){
        flex-direction: column;
        height: auto;
    }
    #item1{
        @media( max-width:  768px){
            justify-content: center;
        }
        .group-ovales{
            display: flex;
            @media( max-width:  992px){
                justify-content: center;
            }
            .oval{
                mask: url("../assets/svg/oval.svg");
                width: 8px;
                height: 7.8px;
                margin: 0 24px 0 0;
                object-fit: contain;
                background-color: #ebebeb;
            }
            .activo{
                background-color: #cbe346;
            }
        }
        width: 37%;
        background: url("../assets/img/ball-color-court-1405355.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        padding: 38px 71px  0 14.1% ;
        @media( max-width:  992px){
            padding: 38px 15px;
            text-align: center;
        }
        @media( max-width:  768px){
            padding: 50px 15px;
        }
        p{
            &:first-child{
                font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
                span{
                    font-weight: 900;
                }
            }
            &:last-child{
                font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
            }
            @media( max-width:  768px){
                text-align: center;
            }
        }
        
        #botones{
            padding-top: 10px;
            display: flex;
            @media( max-width:  992px){
                display: flex;
                justify-content: center;
                align-items: center;
            }    
        }
        @media( max-width:  768px){
            width: 100%;
            background-position: center center;
            height: 350px;
        }
    }
    #item2{
        width: 63%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media( max-width:  768px){
            width: 100%;
        }
        #carrusel{
            display: flex;
            color: black;
            span{
                position:absolute;
                z-index:1;
                width:39px;
                height:39px;
                background-color:#cbe346;
                border-radius:50px;
                text-align:center;
                display:flex;
                justify-content:center;
                align-items:center;
                margin:13px 0 0 17px
            }
            img{
                max-width: 95.68%;
                
                @media( max-width:  768px){
                    width: auto;
                    padding: 15px;
                }
            }
        }
    }
}
section#seccion4{
    background: url("../assets/img/action-athlete-ball-342361.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    width: 100%;
    height: 42vw;
}
footer{
    height: 203px;
    width: 100%;
    background: #cbe346;
    display: flex;
    padding-top: 64px;
    @media( max-width:  768px){
        flex-direction: column-reverse;
        height: auto;
        padding-top: 20px;
    }
    #item1{
        width: 37%;
        height: 100%;
        @media( max-width:  768px){
            width: 100%;
        }
        ul{
            display: flex;
            padding: 0;
            padding-left: 78px;
            flex-wrap: wrap;
            @media( max-width:  768px){
                padding: 15px;
            }
            li{
                list-style: none;
                flex: 1 auto;
                @media( max-width:  768px){
                    text-align: center;
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1600 - 300)));;
                }
            }
        }
        #logos{
            padding-left: 78px;
            display: flex;
            
            @media( max-width:  768px){
                padding: 0 0 20px 0;
                display: flex;
                justify-content: center;
            }
            img{
                &:not(:first-child){
                    padding-left: 12px;
                }
            }
        }
    }
    #item2{
        // background: blue;
        width: 73%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 67px;
        @media( max-width:  768px){
            width: 100%;
            justify-content: center;
            padding: 0;
        }
        img{
            width: 55px;
            height: 55px;
        }
    }
}
/**/

div#nav2{
    display: none;
    @media( max-width:  768px){
         position: fixed;
         width: 100%;
         height: 100vh;
         background: #cbe346;
         top: 0;
         transition: all .5s;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        transition: all .5s;
        li{
            list-style: none;
            width: 100%;
            color: white;
            transition: all .5s;
            &:first-child{
                text-align: right;
                padding-right: 20px;
                font-size: 25px;
            }
            a{
                display: block;
                padding: 20px 0;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                color: white;
                font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1600 - 300)));;
                text-align: center;
                transition: ease-in .3s;
                &:hover{
                    background: white;
                    color: black;
                    transition: ease-in .3s;
                }
            }
        }
        
    }
}


/**/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }



